.task {
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  width: 90%;
}

.task:hover {
  cursor: pointer;
}

.column {
  padding: 15px;
  margin: 10px;
  background-color: #f1f2f4;
  border-radius: 10px;
  width: 300px;
}

.column-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}

.new-task {
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-task:hover {
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

.new-task-input {
  border: none;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
